@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    background: #fff;
    padding: 20px 0;
    top: 0;
}
nav .brand{
    width:40px;
    padding-left: 20px;
}
nav ul{
    display: flex;
    justify-content: flex-start;

   
}
nav ul li{
    list-style: none;
    margin-left:30px;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #110e15c8;

}
nav .menu img{
    width: 50px;
    display: none;
}

.container{
    width:100%;
    margin-top: 20px;
    background-color: #ccd5dc;
}
.container img{
    width:100%;
    height: 550px;
}
.container .quote{
    width:90%;
    padding: 50px;
    margin: auto;
}
.container .quote q{
    font-size: 18px;
    font-style: italic;
    color: #232222;
}
.container .quote p{
    padding-top: 20px;
    text-align: end;
    font-weight: bold;
    color: #232222;
}
.container .quote p span{
    font-weight: 300;
}
